/*============================AGGIUNTE============================*/
table{
	border-collapse: collapse;
}

th{
	background-color: #015a91;
	color: #e6e6e6;
	padding: 5px 10px;
}

table, tr, td, th{
	border: 1px #D8D8D8 solid;
}

td{
	padding: 5px;
}

input[type="checkbox"]{
	width: 1.5em;
	height: 1.5em;
}


#brynnData, #syrusData, #galadenData, #vaerixData, #kehliData, #chanceData{
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
}

#brynnTitle, #syrusTitle, #galadenTitle, #vaerixTitle, #kehliTitle, #chanceTitle{
	display: none;
	margin-bottom: 0px;
}

#commonData{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}

.table-container{
	display: inline-block;
	padding: 5px;
	margin-left: auto;
    margin-right: auto;
}

.checkbox-container{
	text-align: center;
}

.item-image{
	max-width: 400px;
}

#navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0px;
}

#navigationBar li {
  float: left;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigationBar li:hover {
  background-color: #111111;
  cursor: pointer;
}

#selLanguage{
	float:right;
}


/* Button CSS */
.blue-button {
  background-color: #0170b5;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.blue-button:hover,
.button-7:focus {
  background-color: #015a91;
}

.blue-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.blue-button:active {
  background-color: #015a91;
  box-shadow: none;
}
